*{
font-family: 'Alkatra', cursive;
font-family: 'Cormorant Garamond', serif;
font-family: 'Kanit', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Righteous', cursive;
font-family: 'Roboto Mono', monospace;
font-family: 'Tilt Warp', cursive;
font-family: 'Ubuntu', sans-serif;
margin: 0;
padding: 0;
}
.header-sec{
    display: flex;
    justify-content: space-evenly;
    background-color: #ecd5da;
}
.header-text{
    margin-top: 100px;
    margin-bottom: 10px;
}
.shop-btn{
    padding: 10px;
    background-color: #E55473;
    color: white;
    border: 0;
    border-radius: 5px;
    margin-top: 20px;
}
.banner-img{
    width: 300px;
    height: 400px;
    margin-top: 60px;
}
.feature-sec{
    margin-top: 80px;
    margin-bottom: 5px;
    text-align: center;
}
.flower-sec{
    display: flex;
    justify-content: space-between;
    margin: 100px 100px;
    text-align: center;
}
.flw-img{
    width: 200px;
    height: 260px;
    margin-bottom: 10px;
}
.pic-1{
    background-color: #eee5e7;
    padding: 40px;
    border-radius: 250px 250px 0px 0px;
}
.pic-2{
    background-color: #d3cfd0;
    padding: 40px;
    border-radius: 250px 250px 0px 0px;
}
.pic-3{
    background-color: #e9b1bd;
    padding: 40px;
    border-radius: 250px 250px 0px 0px;
}
.service-sec{
    display: flex;
    justify-content: space-between;
    margin: 100px 100px;
    text-align:center;
    background-color: #f1dbdb;
    padding: 25px;
}
.except{
    color: #E55473;
}
.deal-sec{
    display: flex;
    justify-content: space-around;
}
.deal-text{
    margin-top: 100px;
    text-align: center;
}
.deal-para{
    margin-top: 8px;
}
.deal-sec-2{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    margin: 100px 100px;
}
.new-img{
    width: 318px;
    height: 420px;
    border-radius: 20px;
}
.except-new{
    text-align: center;
    margin-top: 85px;
}