*{
font-family: 'Alkatra', cursive;
font-family: 'Cormorant Garamond', serif;
font-family: 'Kanit', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Righteous', cursive;
font-family: 'Roboto Mono', monospace;
font-family: 'Tilt Warp', cursive;
font-family: 'Ubuntu', sans-serif;
margin: 0;
padding: 0;
}
.header-sec{
    display: flex;
    justify-content: space-evenly;
    background-color: #ecd5da;
}
.header-text{
    margin-top: 100px;
    margin-bottom: 10px;
}
.shop-btn{
    padding: 10px;
    background-color: #E55473;
    color: white;
    border: 0;
    border-radius: 5px;
    margin-top: 20px;
}
.banner-img{
    width: 300px;
    height: 400px;
    margin-top: 60px;
}